/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Barlow", sans-serif;
  /******************/
  /* SECTION HEADER */
  /******************/
  /****************/
  /* SECTION INFO */
  /****************/
  /**********************/
  /* INFO SECTION STATIC*/
  /**********************/
  /************************/
  /* CLIENTS TESTIMONIALS */
  /************************/
  /*******************/
  /* SECTION GALLERY */
  /*******************/
  /******************/
  /* SECTION FOOTER */
  /******************/
}
body .header {
  background: url("../../img/image-header.jpg");
  background-position: bottom;
  background-size: cover;
  height: 80rem;
  padding-top: 3.4rem;
  position: relative;
}
body .header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  margin: 0rem 4rem 0 4.8rem;
  position: relative;
}
body .header .navbar .checkbox {
  display: none;
}
@media screen and (max-width: 800px) {
  body .header .navbar .checkbox {
    position: absolute;
    display: block;
    height: 26px;
    width: 26px;
    top: 15px;
    right: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  body .header .navbar input[type=checkbox]:checked ~ .main-nav-list {
    transform: translate(-50%, 0);
    transition: 1s ease;
  }
}
body .header .navbar .logo {
  height: 3.3rem;
}
body .header .navbar .menu-button {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  body .header .navbar .menu-button .menu-button-line {
    background-color: #ffffff;
    height: 0.2rem;
    width: 2.4rem;
    border-radius: 2px;
  }
}
body .header .navbar .main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.7rem;
  list-style: none;
}
@media screen and (max-width: 800px) {
  body .header .navbar .main-nav-list {
    background-color: #FFFCF8;
    padding: 3.9rem 0 5.4rem;
    position: absolute;
    top: 7.2rem;
    left: 50%;
    transform: translate(-50%, -150%);
    flex-direction: column;
    z-index: 1;
    width: 100%;
  }
  body .header .navbar .main-nav-list .triangle {
    position: absolute;
    right: 0%;
    transform: translateY(-6.2rem);
    border-style: solid;
    border-width: 0 0 24px 24px;
    border-color: transparent transparent #FFFCF8 transparent;
  }
}
body .header .navbar .main-nav-list .main-nav-link:link,
body .header .navbar .main-nav-list .main-nav-link:active,
body .header .navbar .main-nav-list .main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ffffff;
  transition: all 0.3s;
}
body .header .navbar .main-nav-list .main-nav-link:link:hover,
body .header .navbar .main-nav-list .main-nav-link:active:hover,
body .header .navbar .main-nav-list .main-nav-link:visited:hover {
  color: #24303e;
}
@media screen and (max-width: 800px) {
  body .header .navbar .main-nav-list .main-nav-link:link,
body .header .navbar .main-nav-list .main-nav-link:active,
body .header .navbar .main-nav-list .main-nav-link:visited {
    color: #808397;
    font-weight: 600;
  }
}
body .header .navbar .main-nav-list .nav-last-link:link,
body .header .navbar .main-nav-list .nav-last-link:active,
body .header .navbar .main-nav-list .nav-last-link:visited {
  padding: 1.6rem 3rem 1.5rem 3.2rem;
  background-color: #fff;
  border-radius: 28px;
  font-size: 2.5rem;
  color: #000;
  font-weight: 700;
  font-family: "Fraunces", serif;
  transition: all 0.3s;
}
@media screen and (max-width: 800px) {
  body .header .navbar .main-nav-list .nav-last-link:link,
body .header .navbar .main-nav-list .nav-last-link:active,
body .header .navbar .main-nav-list .nav-last-link:visited {
    background-color: #FBD600;
    color: #24303e;
    font-weight: 700;
    margin-bottom: 5.4rem;
  }
}
body .header .navbar .main-nav-list .nav-last-link:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
  color: #fff !important;
}
@media screen and (max-width: 800px) {
  body .header .navbar .main-nav-list .nav-last-link:hover {
    color: #000;
  }
}
body .header .main-title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 5.6rem;
  color: #ffffff;
  position: absolute;
  top: 19.5rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.875rem;
  width: 100%;
  text-align: center;
}
body .header .arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .section-info {
  display: flex;
  flex-direction: column;
}
body .section-info .article-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 950px) {
  body .section-info .article-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
body .section-info .article-info .text-box {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 16.5rem;
  padding-right: 10.6rem;
}
@media screen and (max-width: 1200px) {
  body .section-info .article-info .text-box {
    padding-left: 11.5rem;
    padding-right: 8.6rem;
  }
}
@media screen and (max-width: 1060px) {
  body .section-info .article-info .text-box {
    padding-left: 4.5rem;
    padding-right: 3.6rem;
  }
}
@media screen and (max-width: 950px) {
  body .section-info .article-info .text-box {
    grid-row: 2/3;
    padding-left: 8.5rem;
    padding-right: 14.6rem;
  }
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    align-items: center;
  }
}
body .section-info .article-info .text-box .text-box:last-child {
  padding-right: 16.5rem;
  padding-left: 10.6rem;
}
body .section-info .article-info .text-box .heading-primary {
  font-size: 4rem;
  font-family: "Fraunces", serif;
  line-height: 4.932rem;
  font-weight: 900;
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .heading-primary {
    text-align: center;
  }
}
body .section-info .article-info .text-box .description {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  line-height: 3rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .description {
    text-align: center;
  }
}
body .section-info .article-info .text-box .learn-more:link {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #24303e;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.85rem;
  width: fit-content;
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .learn-more:link {
    text-align: center;
  }
}
body .section-info .article-info .text-box .underline-yell::after {
  content: "";
  width: 13.7rem;
  height: 10px;
  background-color: hsla(51deg, 100%, 49%, 0.25);
  border-radius: 26px;
  bottom: -3px;
  left: -13px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .underline-yell::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
body .section-info .article-info .text-box .underline-red::after {
  content: "";
  width: 13.7rem;
  height: 10px;
  background-color: hsla(7deg, 99%, 70%, 0.25);
  border-radius: 26px;
  bottom: -3px;
  left: -13px;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .underline-red::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
body .section-info .article-info .text-box .underline-yell:hover::after {
  content: "";
  width: 13.7rem;
  height: 10px;
  background-color: hsla(51deg, 100%, 49%, 0.25);
  border-radius: 26px;
  bottom: -3px;
  left: -13px;
  position: absolute;
  z-index: -1;
  background-color: #fad400;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .underline-yell:hover::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
body .section-info .article-info .text-box .underline-red:hover::after {
  content: "";
  width: 13.7rem;
  height: 10px;
  background-color: hsla(7deg, 99%, 70%, 0.25);
  border-radius: 26px;
  bottom: -3px;
  left: -13px;
  position: absolute;
  z-index: -1;
  background-color: #FE7766;
}
@media screen and (max-width: 680px) {
  body .section-info .article-info .text-box .underline-red:hover::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
body .section-info .article-info .img-info {
  width: 100%;
}
@media screen and (max-width: 950px) {
  body .section-info .article-info .img-info {
    grid-row: 1/2;
  }
}
body .section-info-static {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 950px) {
  body .section-info-static {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
body .section-info-static article {
  position: relative;
}
body .section-info-static article aside {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-bottom: 5.9rem;
  padding-left: 19.1rem;
  padding-right: 19rem;
}
@media screen and (max-width: 1200px) {
  body .section-info-static article aside {
    padding-bottom: 3rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media screen and (max-width: 950px) {
  body .section-info-static article aside {
    grid-row: 1/2;
    padding-bottom: 5.9rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media screen and (max-width: 500px) {
  body .section-info-static article aside {
    padding-bottom: 1Orem;
    padding-left: 4.1rem;
    padding-right: 4rem;
  }
}
body .section-info-static article aside h3 {
  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 3.5rem;
  letter-spacing: -0.02rem;
  text-align: center;
  margin-bottom: 2.7rem;
}
@media screen and (max-width: 500px) {
  body .section-info-static article aside h3 {
    font-size: 4rem;
  }
}
body .section-info-static article aside p {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.7rem;
  letter-spacing: -0.0114rem;
  text-align: center;
  color: #3E7467;
}
@media screen and (max-width: 500px) {
  body .section-info-static article aside p {
    font-size: 2rem;
  }
}
body .section-info-static article aside .titre-graphicDesign {
  color: #24554A;
}
body .section-info-static article aside .titre-photography {
  color: #052C3B;
  mix-blend-mode: normal;
  opacity: 0.75;
}
body .section-info-static article img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 500px) {
  body .section-info-static article img {
    aspect-ratio: 1/1.5;
    object-fit: cover;
  }
}
body .testimonials {
  padding: 16rem;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  body .testimonials {
    padding: 10rem;
  }
}
@media screen and (max-width: 500px) {
  body .testimonials {
    padding: 6.4rem 2.4rem 8.6rem;
  }
}
body .testimonials h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #a7aaad;
  margin: auto;
  margin-bottom: 8.1rem;
  text-transform: uppercase;
}
body .testimonials ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
@media screen and (max-width: 800px) {
  body .testimonials ul {
    flex-direction: column;
    gap: 11rem;
  }
}
body .testimonials ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .testimonials ul li img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  margin-bottom: 5.8rem;
}
@media screen and (max-width: 800px) {
  body .testimonials ul li img {
    margin-bottom: 3.2rem;
  }
}
body .testimonials ul li p {
  font-family: Barlow;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
  letter-spacing: -0.0128rem;
  color: #5b636d;
  margin-bottom: 6.9rem;
}
@media screen and (max-width: 800px) {
  body .testimonials ul li p {
    margin-bottom: 3.2rem;
  }
}
body .testimonials ul li figcaption {
  display: flex;
  flex-direction: column;
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: -0.013rem;
  line-height: 2.219rem;
  color: #24303e;
}
body .testimonials ul li figcaption cite {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  line-height: 2.5rem;
  color: #a7aaad;
}
body .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 500px) {
  body .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    aspect-ratio: 1/1;
  }
}
body .gallery img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  body .gallery img {
    object-fit: cover;
    max-height: 100%;
  }
}
body .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #90d4c6;
  padding: 7.2rem;
  margin: auto;
}
body .footer .logo-green {
  width: 17.4rem;
  margin-bottom: 4rem;
}
body .footer .footer--link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5.7rem;
  margin-bottom: 8.8rem;
}
body .footer .footer--link .footer-link:link, body .footer .footer--link .footer-link:active, body .footer .footer--link .footer-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #458d7e;
  transition: all 0.3s;
}
body .footer .footer--link .footer-link:hover {
  color: #fff;
}
body .footer .footer-socialmedia-logo {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
body .footer .footer-socialmedia-logo .icon svg {
  fill: #2C7566;
  transition: all 0.3s;
}
body .footer .footer-socialmedia-logo .icon svg:hover {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */