$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

$bg-footer: #90d4c6;
$txt-white: #ffffff;
$txt-black: #24303e;
$txt-grey-lg: #5b636d;
$txt-grey-md: #808397;
$txt-grey-sm: #a7aaad;
$title-footer: #2c7566;
$link-footer: #458d7e;
