@import "_variables.scss";
@import "_mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include sixth {
    font-size: 45%;
  }
}

body {
  font-family: $barlow;

  /******************/
  /* SECTION HEADER */
  /******************/


  .header {
    background: url("../../img/image-header.jpg");
    background-position: bottom;
    background-size: cover;
    height: 80rem;
    padding-top: 3.4rem;

    position: relative;
    

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5.6rem;

      margin: 0rem 4rem 0 4.8rem;

      position: relative;

      .checkbox {
        display: none;
      }

      @include th {
        .checkbox {
          position: absolute;
          display: block;
          height: 26px;
          width: 26px;
          top: 15px;
          right: 0;
          z-index: 5;
          opacity: 0;
          cursor: pointer;
        }

        input[type="checkbox"]:checked ~ .main-nav-list {
          transform: translate(-50%, 0);
          transition: 1s ease;
        }

      }

      .logo {
        height: 3.3rem;
      }

      .menu-button{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        justify-content: center;

        @include th {

          .menu-button-line {
            background-color: $txt-white;
            height: 0.2rem;
            width: 2.4rem;
            border-radius: 2px;

          }
        }
      }

      .main-nav-list {
        display: flex;
        align-items: center;
        gap: 4.7rem;
        list-style: none;

        @include th {
          background-color: #FFFCF8;
          padding: 3.9rem 0 5.4rem;
          position: absolute;
          top: 7.2rem;
          left: 50%;
          transform: translate(-50%, -150%);

          flex-direction: column;
          z-index: 1;

          width: 100%;


          .triangle {
            position: absolute;
            right: 0%;

            transform: translateY(-6.2rem);
  
            border-style: solid;
            border-width: 0 0 24px 24px;
            border-color: transparent transparent #FFFCF8 transparent;
          }

        }

        .main-nav-link:link,
        .main-nav-link:active,
        .main-nav-link:visited {
          text-decoration: none;
          font-size: 1.8rem;
          color: $txt-white;
          transition: all 0.3s;

          &:hover {
            color: $txt-black;
          }

          

          @include th {
            color: $txt-grey-md;
            font-weight: 600;
          }
        }

        .nav-last-link:link,
        .nav-last-link:active,
        .nav-last-link:visited {
          padding: 1.6rem 3rem 1.5rem 3.2rem;
          background-color: #fff;
          border-radius: 28px;
          font-size: 2.5rem;
          color: #000;
          font-weight: 700;
          font-family: $fraunces;

          transition: all 0.3s;

          @include th {
            background-color: $bg-yellow;
            color: $txt-black;
            font-weight: 700;
            margin-bottom: 5.4rem;
  
          }
        }

        .nav-last-link:hover {
          background-color: #ffffff40;
          color: #fff !important;

          @include th {
            color: #000;
  
          }
        }
      }
    }

    .main-title {
      text-transform: uppercase;
      font-family: $fraunces;
      font-size: 5.6rem;
      color: $txt-white;

      position: absolute;
      top: 19.5rem;
      left: 50%;
      transform: translateX(-50%);
      letter-spacing: 0.875rem;
      width: 100%;
      text-align: center;
    }

    .arrow-down {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /****************/
  /* SECTION INFO */
  /****************/

  .section-info {
    display: flex;
    flex-direction: column;
    

    .article-info {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include rd {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
      }

      .text-box {
        justify-self: center;
        align-self: center;
        

        display: flex;
        flex-direction: column;

        width: 100%;

        padding-left: 16.5rem;
        padding-right: 10.6rem;

        @include st {
          padding-left: 11.5rem;
          padding-right: 8.6rem;
        }

        @include nd {
          padding-left: 4.5rem;
          padding-right: 3.6rem;
        }

        @include rd {
          grid-row: 2 / 3;
          padding-left: 8.5rem;
          padding-right: 14.6rem;
        }

        @include fifth {
          padding-left: 2.4rem;
          padding-right: 2.4rem;

          align-items: center;
        }


        .text-box:last-child {
          padding-right: 16.5rem;
          padding-left: 10.6rem;

        }

        .heading-primary {
          @include heading-primary;
          
          @include fifth {
            text-align: center;
          }
        }

        .description {
          @include description;

          @include fifth {
            text-align: center;
          }
        }

        .learn-more:link {
          @include learn-more;

          position: relative;
          z-index: 9;

          @include fifth {
            text-align: center;
          }

          
        }

        .underline-yell::after {
          @include underline-yell;
          transition: all 0.3s;
        }

        .underline-red::after {
          @include underline-red;
          transition: all 0.3s;
        }

        .underline-yell:hover::after {
          @include underline-yell;
          background-color: #fad400;
        }

        .underline-red:hover::after {
          @include underline-red;
          background-color: #FE7766;
        }
      }
      
      .img-info {
        width: 100%;

        @include rd {
          grid-row: 1 / 2;
        }
      }
    }

  }

  /**********************/
  /* INFO SECTION STATIC*/
  /**********************/

  .section-info-static {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include rd {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      
    }

    article {
      position: relative;

      aside {
        
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          width: 100%;
          padding-bottom: 5.9rem;
          padding-left: 19.1rem;
          padding-right: 19rem;

        @include st {
          padding-bottom: 3rem;
          padding-left: 8rem;
          padding-right: 8rem;

          }

        @include rd {
          grid-row: 1 / 2;

          padding-bottom: 5.9rem;
          padding-left: 8rem;
          padding-right: 8rem;

        }

        @include sixth {
          padding-bottom: 1Orem;
          padding-left: 4.1rem;
          padding-right: 4rem;

        }

        h3 {
          font-family: $fraunces;
          font-size: 2.8rem;
          font-weight: 900;
          line-height: 3.5rem;
          letter-spacing: -0.020rem;
          text-align: center;
          margin-bottom: 2.7rem;

          @include sixth {
            font-size:4rem;
          }
        }

        p {
          font-family: $barlow;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2.7rem;
          letter-spacing: -0.0114rem;
          text-align: center;
          color: $txt-static;

          @include sixth {
            font-size: 2rem;
          }
        }

        .titre-graphicDesign {
          color: $txt-graphic-design;
        }
        
        .titre-photography {
          color: $txt-photography;
          mix-blend-mode: normal;
          opacity: 0.75;
        }
      
      }
      
      img {
        height: 100%;
        width: 100%;

        @include sixth {
          aspect-ratio: 1/1.5;
          object-fit: cover;
        }
      }
    }
  }

  /************************/
  /* CLIENTS TESTIMONIALS */
  /************************/

  .testimonials {
    padding: 16rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .testimonials-title {
      font-size: 3rem;
      margin-bottom: 4rem;
      text-transform: uppercase;
    }

    @include st {
      padding: 10rem;
    }

    @include sixth {
      padding: 6.4rem 2.4rem 8.6rem;
    }

    h3 {
      font-family: $fraunces;
      font-weight: 900;
      font-size: 2rem;
      letter-spacing: 0.5rem;
      color: $txt-grey-sm;
      margin: auto;
      margin-bottom: 8.1rem;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 3rem;

      @include th {
        flex-direction: column;
        gap: 11rem;
      }

      li {
        display:flex;
        flex-direction: column;
        align-items: center;
        
        img {
          width: 7.2rem;
          height: 7.2rem;
          border-radius: 50%;
          margin-bottom: 5.8rem;

          @include th {
            margin-bottom: 3.2rem;
          }
        }

        p {
          font-family: Barlow;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 3.2rem;
          letter-spacing: -0.0128rem;
          color: $txt-grey-lg;
          margin-bottom: 6.9rem;

          @include th {
            margin-bottom: 3.2rem;
          }
        }

        figcaption {
          display:flex;
          flex-direction: column;
          font-family: $fraunces;
          font-size: 1.8rem;
          font-weight: 900;
          letter-spacing: -0.013rem;
          line-height: 2.219rem;
          color: $txt-black;

          cite {
            font-family: $barlow;
            font-weight: 600;
            font-size: 1.4rem;
            letter-spacing: -0.01rem;
            line-height: 2.5rem;
            color: $txt-grey-sm;

          }
        }
      }
    }
  }

  /*******************/
  /* SECTION GALLERY */
  /*******************/
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include sixth {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      aspect-ratio: 1/1;
    }

    img {
      width: 100%;
      
      @include sixth {
        object-fit: cover;
        max-height: 100%;
      }
    }
  }

  /******************/
  /* SECTION FOOTER */
  /******************/

  .footer {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    background-color: $bg-footer;
  
    padding: 7.2rem;
    margin: auto;

    .logo-green {
      width: 17.4rem;
      margin-bottom: 4rem;
    }
        
      
      
      .footer--link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5.7rem;
      margin-bottom: 8.8rem;

      .footer-link:link, .footer-link:active, .footer-link:visited {
        text-decoration: none;
        font-size: 1.8rem;
        color: $link-footer;
        transition: all 0.3s;
      }

      .footer-link:hover {
        color: #fff;
      }
    }

    .footer-socialmedia-logo {
      display: flex;
      align-items: center;
      gap: 2.8rem;

      .icon {

        svg {
          fill: #2C7566;
          transition: all 0.3s;
        }

        svg:hover {
          fill: #fff;
        }
      }

      
      
      
    }
  }
}
